@import mixin

header
  display: flex
  justify-content: center
  align-items: center
  padding: auto
  margin: auto
  border: 1px dotted pink
  max-height: 10rem

  .logo
    border: 1px dotted red
    align-self: center
    justify-self: start
    padding: 0

  h1
    border: 1px dotted green
    align-self: center
    justify-self: center
    padding: 0
    font-size: 3rem

#textbox
    text-align: left
    padding: 2rem
    @include noselect
