$font-headline: 'Mona Sans Bold'
$font-body: 'Mona Sans Regular'
$font-accent: 'VCR OCD Faux'

@font-face
  font-family: $font-headline
  src: url('../fonts/MonaSans-Bold.woff2') format('woff2')


@font-face
  font-family: $font-body
  src: url('../fonts/MonaSans-Regular.woff2') format('woff2')


@font-face
  font-family: $font-accent
  src: url('../fonts/VCR_OSD_MONO_1.001.woff2') format('woff2')
